{% extends "__base.html" %}
{% load url from future %}

{% block title %}WinLiberator :: Home{% endblock title %}

{% block content %}
    <h2>ODBC Connection Status</h2>
    {% if dbs %}
        <div class="odbc-connections">
             <table>
                <thead>
                    <tr><th>Name</th><th>DSN</th><th>Notes</th></tr>
                </thead>
                <tbody>
                    {% for db in dbs %}<tr>
                        <td><a href="{% url 'info'  db.name %}">{{ db.name }}</a></td>
                        <td>{{ db.dsn }}</td>
                        <td>{{ db.notes }}</td>
                    </tr>{% endfor %}
                </tbody>
             </table>
        </div>
    {% else %}
        <p>No ODBC databases have been configured.</p>
    {% endif %}
{% endblock content %}