{% extends "__base.html" %}
{% load url from future %}

{% block title %}
    WinLiberator :: Info
    {% if db %} :: {{ db.name }}{% endif %}
    {% if table %} :: {{ table }}{% endif %}
{% endblock title %}

{% block page_title %}
    Info for 
    {% if table %}{{ table }} in {% endif %}
    {% if db %}{{ db.name }}{% endif %}
{% endblock page_title%}

{% block content %}
    {% if tables %}
        <h2>Tables</h2>
        <div class="tables">
            <table>
                <thead>
                    <tr>
                        <th>Table Cat</th>
                        <th>Table Schema</th>
                        <th>Table Name</th>
                        <th>Table Type</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tbl in tables %}<tr>
                        <td>{{ table.cat }}</td>
                        <td>{{ table.schema }}</td>
                        <td><a href="{% url 'info-columns' db.name tbl.table_name%}">{{ tbl.table_name }}</a></td>
                        <td>{{ tbl.table_type }}</td>
                        <td>{{ tbl.remarks }}</td>
                    </tr>{% endfor %}
                </tbody>
            </table>
        </div>
    {% elif columns %}
        <h2>Columns for {{ table }}</h2>
        <div class="columns">
            <table>
                <thead>
                    <tr>
                        <th>Table Cat</th>
                        <th>Table Schema</th>
                        <th>Table Name</th>
                        <th>Column Name</th>
                        <th>Data Type</th>
                        <th>Type Name</th>
                        <th>Column Size</th>
                        <th>Buffer Length</th>
                        <th>Decimal Digits</th>
                        <th>Num Prec Radix</th>
                        <th>Nullable</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for col in columns %}<tr>
                        <td>{{ col.cat }}</td>
                        <td>{{ col.schema }}</td>
                        <td>{{ col.table_name }}</td>
                        <td>{{ col.column_name }}</td>
                        <td>{{ col.data_type }}</td>
                        <td>{{ col.type_name }}</td>
                        <td>{{ col.column_size }}</td>
                        <td>{{ col.buffer_length }}</td>
                        <td>{{ col.decimal_digits }}</td>
                        <td>{{ col.num_prec_radix }}</td>
                        <td>{{ col.nullable }}</td>
                        <td>{{ col.remarks }}</td>
                    </tr>{% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No ODBC databases have been configured.</p>
    {% endif %}
{% endblock content %}